
@font-face {
	font-family: 'Ginchiest Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Ginchiest Regular'), url('fonts/Ginchiest.woff') format('woff');
}

.theme-light {
    --color-primary: #0000005c;
    --color-secondary: #ffa4b4;
    --font-color: #ffffff;
    --font-color-secondary: #9f9f9f5c;
    --navbar: #00000080;
    --navbar-secondary : #00000080;
}

/*.theme-dark {
	--color-primary: #202020;
	--color-secondary: #0d0d0d;
	--font-color: white;
	--font-color-secondary: grey;
	--navbar: #666;
}*/


html {
	    overflow:auto;
}

body {  
	width: 100%;
	height: 100vh;
	background-color: #000;
	background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
	font-family: 'roboto';
	/*animation: animation 500s linear infinite;*/
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}


.topnav {
	overflow: hidden;
	font: bold 14px/1.4 'Open Sans', arial, sans-serif;
	background-color: var(--color-primary);
	box-shadow: 0px 5px var(--navbar-secondary);
}

.topnav .navi {
	text-align: center;
}

.back {
	display: block;
	color:var(--font-color);
	font-family: 'Ginchiest Regular';
	font-size:35px;
	letter-spacing:2px;
	text-shadow: 0px 0px var(--font-color-secondary), -1px 1px var(--font-color-secondary), -2px 2px var(--font-color-secondary), -3px 3px var(--font-color-secondary);
	cursor: pointer;
}

.back .back-arrow_1{
	opacity:0;
	position: absolute;
	font-size: 14px;
	padding-top: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
}

.back .back-arrow_2{
	transition: opacity 0.5s ease-in;
	opacity:0;
	margin-left: 10px;
	position :absolute;
}

.back .logo {
	position :absolute;
	margin-left: 10px;
	transition: transform 1s ease;
	margin-top: 2px;
}

.topnav a {
	color: var(--font-color);
	text-align: center;
	padding: 14px 16px;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	display: inline-block;
	text-decoration: none;
	outline: none;
	transition: all .2s ease-in;
}

.topnav a:hover {
	color: var(--font-color-secondary);
}


.topnav a.active {
	color: var(--font-color-secondary);
}
.topnav a.active:hover {
	color: var(--navbar);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


.back:hover .logo{
	transform: translateX(25px);
}
.back:hover .back-arrow_2 {
	opacity: 1;
}
.mx-2 {
box-shadow: 3px 3px 12px var(--font-color-secondary), -3px -3px 12px var(--font-color-secondary);
}
.mx-2:hover {
	box-shadow: 3px 3px 12px var(--navbar), -3px -3px 12px var(--navbar);
}
.mx-2:hover .v-btn__content{
	color: var(--navbar);
}
.v-btn__content {
	color: var(--font-color-secondary);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.page .name {
	position: absolute;
	margin-top: 15px;
	margin-left: 130px;
}

.topnav .h_icon {
  display: none;
  
}

.image-404{
	transform: translateX(-50%) translateY(-50%);
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
}

.btn {
	display: inline-block;
	color: var(--font-color);
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: opacity 0.2s ease-in;
	border: 2px solid var(--font-color);
	width: auto;
	font-size: 20px;
	text-decoration: none;
	border-radius: 2px;
	outline: none;
}

.btn-primary {
	background-color: transparent;
	transition: .5s;
	padding: 9px 30px;
}

.btn:hover {
	background-color: var(--font-color);
	color: var(--navbar);
	box-shadow: 3px 3px 12px var(--font-color-secondary), -3px -3px 12px var(--font-color-secondary);
}


@media screen and (max-width: 600px) {
  .navi a:not(:first-child) {display: none;}
  .topnav a.h_icon {
    float: right;
    display: block;
        position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.h_icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: middle;
  }
  .back .logo{
	transform: translateX(25px);
	opacity: 0;
  }
  .back .back-arrow_1 {
	opacity: 1;
  }
  .back:hover .back-arrow_2 {
	opacity: 0;
  }
  .fab {
   text-align: center;
   position: fixed;
   right: 10px;
   bottom: 10px;
}

.loader {
	position : absolute;
	z-index: 9999;
	background-color: var(--color-primary);
	top : 0px;
	left : 0px;
	height : 100%;
	width : 100%;
	cursor : wait;
}

.load {
	transform: translateX(-50%) translateY(-50%);
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10em;
}


.load-text {
	margin-top: 100px;
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    color: white;
    font-family: roboto;
    font-size: 2em;
}

.image-404 {
	width: auto;
}

}


